<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ex-dischi-musicali</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js">
        </script>
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <div id="app">
        <header>
            <div class="logo">
                <img src="logo.png" alt="logo" />
            </div>
            <div class="genres">
              <select v-model='selected'>
                <option v-for='genre in genres' :value="genre">{{genre}}</option>
              </select>
            </div>
        </header>

        <div class=" container cds-container">
            <!-- Disco ad esempio -->
            <div v-for='cd in cds' v-if='(selected==cd.genre || selected== genres[0])' class="cd">
                <img :src="cd.poster" alt="cd.title">
                <h3>{{cd.title}}</h3>
                <span class="author">{{cd.author}}</span>
                <span class="year">{{cd.year}}</span>
            </div>
        </div>
      </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
